#agenda {
  @include overflow(auto);
  position: relative;
}

.tab {
  box-sizing: border-box;
  padding-top: $space * 5;
}

.agenda-list {
  background-color: $color-white;
  box-sizing: border-box;
  padding: $space $space ($space * .5) $space;
  width: 100%;
  margin-bottom: $space;
  font-size: $font-size;
  box-shadow: $shadow-layer;
  > div {
    box-sizing: border-box;
    padding: ($space * .5) $space;
  }
  > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    span {
      display: inline-block;
      margin-top: $space;
      line-height: $space * 2;
    }
  }
  > div:nth-child(3) {
    text-align: end;
  }
}

.font-grey {
  color: $color-grey-plus;
}
