#addRequest {
  @include overflow();
}

.form {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: $space * 5;
}

.form-popup {
  width: 100%;
}

.item {
  box-sizing: border-box;
  padding: ($space * 2) ($space * 1.6) 0 ($space * 1.6);
  &-title {
    box-sizing: border-box;
    font-size: $font-size * 1.1;
    padding-bottom: $space * 1.2;
  }
}

.van-cell, .item-bottom {
  border-bottom: $border-width solid $solid-color;
}

.van-cell {
  font: initial;
  font-size: $font-size;
}

.van-cell-padding {
  padding: $space;
}

.van-field-padding {
  padding-bottom: $space * 1.8;
}

.img-upload-block {
  position: relative;
}

.sub-btn {
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.record {
  box-sizing: border-box;
  padding: ($space * 1.8) $space 0 $space;
  font-size: $font-size;
  color: $color-blue;
  display: flex;
  @include right;
}

.record-popup {
  height: 100%;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.record-tip {
  margin-top: 50%;
  color: $color-grey-plus;
  width: 100%;
  text-align: center;
  font-size: $font-size * 1.5;
}