#progressDetail {
  @include overflow(auto);
  padding-top: $space;
}

.tab {
  box-sizing: border-box;
  padding-top: $space * 5;
}

.form-list, .info {
  position: absolute;
  right: 0;
  left: 0;
  bottom: $space * 5;
  top: $space * 4;
  overflow-x: auto;
  overflow-y: auto;
}

.handle-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.info {
  font-size: $font-size;
  box-sizing: border-box;
  padding-top: $space;
  > div {
    width: 100%;
    display: flex;
    span {
      display: flex;
      @include center;
      width: 33.3333333%;
      box-sizing: border-box;
      padding: $space;
    }
  }
  > div:first-child {
    font-weight: 400;
    color: $color-black;
  }
  > div:not(first-child) {
    color: $color-grey;
  }
}