#check, .title {
  box-sizing: border-box;
}

#check {
  @include overflow();
  padding: ($space * 7) ($space * 4) 0 ($space * 4);
}

.tip {
  font-size: $font-size;
  color: $color-black;
  margin-bottom: $space;
}

.title {
  font-size: $font-size * 1.8;
  color: $color-black;
  margin-bottom: $space * 3;
}

.form {
  font-size: $font-size;
  margin-bottom: $space * 3;
  > div {
    padding-top: $space * 2.5;
    padding-bottom: $space * 1.2;
    display: flex;
    border-bottom: $border-width solid gainsboro;
  }
}

.van-button--primary {
  background-color: $color-blue;
  border: 1px solid $color-blue;
}
