.pop-out-enter-active,
.pop-out-leave-active,
.pop-in-enter-active,
.pop-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  bottom: 0;
}

.pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
    max-height: $space * 6;
  }
}

.van-button--primary {
  background-color: $color-blue;
  border: 1px solid $color-blue;
}

#app {
  overflow: hidden
}