/*
 *  公用变量
 */

/* Fonts */
$font-size: 14px;

// 基准值
$space: 10px;
$opacity: .5;
$border-width: 1px;
$border-radius: 5px;
$shadow-layer: 3px 3px 3px rgba(217, 217, 217, 0.31);
$mask-color: rgba(0, 0, 0, .3);

// main
$color-blue: #1694EF; // 网站主色调
$color-white: #fff; // 纯白色

// 字体
$color-black: #333333; // 字体色号 黑
$color-grey: #666666; // 字体色号 灰黑
$color-grey-plus: #999999; // 字体色号 灰

// 首页
$color-orange: #ff715d; // 待办数字
$color-yellow: #ff8e00; // 已办数字
$color-green: #34b134; // 消息数字

// 表单列表
$color-0: #ffeced;
$color-1: #ecfcff;
$color-2: #fff8dc;
$color-3: #dffff1;
$color-4: #f1ecff;
$color-5: #ecf1ff;
$color-6: #ecfbff;
$color-7: #ecfff9;
$color-8: #fbffec;
$color-9: #fffcec;

// 背景色
$color-bg: rgb(242, 242, 242);

